.emptyCart{
    text-align: center;
    color: red;
}

.CartProduct{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(173, 216, 230, 0.604);
    border-radius: 10px;
    width: 80%;
    margin: 2vh auto;
    padding: 1vh 1vw;
    box-shadow: 5px 5px 15px 5px #000000;
}
@media only screen and (max-width: 700px){
    .CartProduct{
        flex-direction: column;
        justify-content: center;
    }
}
.CartProduct img{
    width: 8%;
    border-radius: 10px;
}

.containerTotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.totalAmount{
    width: 90%;
    margin: 3vh auto;
    background-color: rgba(173, 216, 230, 0.44);
    padding: 1vh 1vw;
    border-radius: 10px;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid black;
}

.cartTitulo{
    text-align: center;
    padding: 2vh 2vw;
    font-size: 1.3em;
    color: black;
}

.botonesFinalesDiv{
    margin: 2vh auto;

}
.vaciarButton{
    background-color: rgba(240, 32, 32, 0.926);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1vh 1vw;
    width: 200px;
    border-radius: 10px;
    margin: 2vh 2vw;
}
.vaciarButton:hover{
    background-color: rgba(255, 0, 0, 0.282);
}
    


.pagarButton{
    background-color: rgba(49, 112, 49, 0.857);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1vh 1vw;
    width: 200px;
    border-radius: 10px;
    margin: 2vh  2vw;
}
.pagarButton:hover{
    background-color: rgba(33, 228, 33, 0.282);
}

.confirmacionContainer{
    width: 100%;
    background-color: rgba(173, 216, 230, 0.487);
}
.confirmacionContainerbis{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    width: 40%;
}

.cerrar{
    padding: 1vh 1vw;
    color: white;
    font-weight: bold;
    background-color: red;
    margin: 1vh 2vw;
    border-radius: 10px;
}
.cerrar:hover{
        background-color: rgba(255, 0, 0, 0.282);
}
.tituloConfirmacion{
    font-size: 1.3em;
    color: black;
    text-align: center;
    padding: 2vh 2vw;
}


.confirmarBorrar{
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1vh 1vw;
    width: 200px;
    border-radius: 10px;

}
.confirmarBorrar:hover{
    background-color: rgba(255, 0, 0, 0.282);
}

/* Formulario */
.payment-form{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.payment-form.dark{
	background-color: #f6f6f6;
}

.payment-form .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.payment-form .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.payment-form .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.payment-form.dark .block-heading p{
	opacity:0.8;
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.payment-form form{
	border-top: 2px solid #5ea4f3;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: #ffffff;
	padding: 0;
	max-width: 600px;
	margin: auto;
}

.payment-form .title{
	font-size: 1em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 0.8em;
	font-weight: 600;
	padding-bottom: 8px;
}

.payment-form .products{
	background-color: #f7fbff;
    padding: 25px;
}

.payment-form .products .item{
	margin-bottom:1em;
}

.payment-form .products .item-name{
	font-weight:600;
	font-size: 0.9em;
}

.payment-form .products .item-description{
	font-size:0.8em;
	opacity:0.6;
}

.payment-form .products .item p{
	margin-bottom:0.2em;
}

.payment-form .products .price{
	float: right;
	font-weight: 600;
	font-size: 0.9em;
}

.payment-form .products .total{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	padding-top: 19px;
	font-weight: 600;
	line-height: 1;
}

.payment-form .card-details{
	padding: 25px 25px 15px;
}

.payment-form .card-details label{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 5px;
    margin-top: 15px;
	color: #79818a;
	text-transform: uppercase;
}

.payment-form .card-details button{
	margin-top: 0.6em;
	padding:12px 12px;
	font-weight: 600;
    border-radius: 10px;
}
.payment-form .card-details button:disabled{
    background-color: rgba(135, 206, 250, 0.556);
}
.payment-form .date-separator{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 0 1vw;
}

@media (min-width: 576px) {
	.payment-form .title {
		font-size: 1.2em; 
	}

	.payment-form .products {
		padding: 40px; 
    }

	.payment-form .products .item-name {
		font-size: 1em; 
	}

	.payment-form .products .price {
    	font-size: 1em; 
	}

    .payment-form .card-details {
    	padding: 40px 40px 30px; 
    }

    /* .payment-form .card-details button {
    	margin-top: 2em; 
    }  */
}

