.cardImage2{
    width:21vw;
    margin-top: 2vh;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #000000;
}

.buttonStyle{
    border-radius:10px;
    color:white;
    background-color: rgb(34,161,137);
    text-align:center;
    padding: 1vh 1vw;
}

.tituloProducto{
    margin-top:2vh;
    font-weight: bold;
    text-align: center;
}