#CarritoWidget{
    font-size: 2.5em;
    color: #238e95;
    /* font-weight: 900; */
    text-decoration: none;
    padding: 1vh 0.5vw;
}


.carritoContainer{
    display:flex;
    flex-direction: row;
    margin: 1vh 2vw;
    padding: 2vh 1vw;
    align-items: center;
    border-radius: 50%;
}

