#CarritoWidget{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    padding: 1vh 0.5vw;
}

.carritoContainer{
    display:flex;
    flex-direction: row;
    margin: 1vh 2vw;
    padding: 2vh 1vw;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(43,144,155);
    box-shadow: 5px 5px 15px 5px rgb(34,161,137);
}

