.detalles{
    text-align: center;
    margin-bottom:0;
    font-family: 'Cedarville Cursive', cursive;
}

#buyButton{
    margin: 1vh 50vw;
}

.buttonDetail{
    border-radius: 10px;
    color: white;
    background-color: rgb(34,161,137);
    text-align: center;
    padding: 1vh 1vw;
    width: 100%;
}
