.cardCounter{
    width: 3vw;
    margin: 1vh 1vw;
    text-align: right;
    border-radius: 10px;
    background-color: white;
}



.counterCointainer{
    margin: 0vh auto;
}

.contador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.sizeSelector{
    margin: 3vh auto;
    text-align: center;
}

.sizeselector{
    width: 40%;
    text-align: center;
    margin-left: 4vw;
    border-radius: 10px;
}

.colorselector{
    width: 60%;
    text-align: center;
    margin-left: 2vw;
    border-radius: 10px;
}


@media only screen and (max-width:480px){
    .sizeSelector{
        text-align: center;
        margin-top: 1vh;
    }
    .sizeselector, .colorselector{
        width: 80%;
        margin-top: 0.5vh;
    }
    .buttonStyle{
        width: 10vw !important;
    }
    .cardCounter{
        width: 10vw !important;
    }
    .contador{
        margin-bottom: 3vh;
    }
    .selectores{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

}