.NavBarContainer{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}

.NavBarLogo{
    width: 150px;
    height: 150px;
    margin-top:1vh;
    margin-left:1vw;
}

.NavBarra{
    width: 100%;
    background-color: white;
}

.NavBarContent{
    margin-left: 2vw;
}


@media only screen and (max-width: 480px){
    .NavBarLogo{
        width: 15vw;
        height: 10vh;
        -top: 1vh;
        margin-right: 25vw;
        margin-left: 5vw;
    }
    #navbarScrollingDropdown{
        z-index: 42432434 !important;
    }
    }